
RestWebService/RestWebService/App_Data/Documentation.xml
*.xml
*.xml
RestWebService/RestWebService/App_Data/Documentation.xml
RestWebService/RestWebService/bin/Documentation.xml
*.dll
RestWebService/.vs/RestWebService/v15/.suo
RestWebService/.vs/RestWebService/v15/Server/sqlite3/storage.ide-wal
RestWebService/RestWebService/App_Data/Documentation.xml
RestWebService/RestWebService/bin/Documentation.xml
RestWebService/RestWebService/bin/RestWebService.dll
RestWebService/RestWebService/bin/RestWebService.pdb
RestWebService/RestWebService/obj/Debug/RestWebService.csproj.CoreCompileInputs.cache
RestWebService/RestWebService/obj/Debug/RestWebService.csproj.FileListAbsolute.txt
RestWebService/RestWebService/obj/Debug/RestWebService.csprojAssemblyReference.cache
RestWebService/RestWebService/obj/Debug/RestWebService.dll
RestWebService/RestWebService/obj/Debug/RestWebService.pdb
